.home {
  max-height: 50%;
  max-width: auto;
}

.heroContainer {
  border: 2px solid black;
  height: 400px;
  max-width: 100%;
  color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContainer h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 5rem;
}

h1 {
  color: greenyellow;
  font-family: "Lobster", cursive;
  text-align: right;
}

.heroContainer p {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 1.5rem;
}

.pizzaOrder {
  padding: 5px;
  font-family: "Lobster", cursive;
  background-color: greenyellow;
}

.pizzaOrder:hover {
  color: greenyellow;
  background-color: black;
  border: 2px greenyellow solid;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: greenyellow;
  font-family: "Lobster", cursive;
  border: 2px solid greenyellow;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labels {
  margin: 10px;
  display: inline-block;
}

.form h1 {
  font-size: 3rem;
}

select {
  display: block;
}

input {
  display: inline-block;
}

.orderButton {
  padding: 5px;
  font-family: "Lobster", cursive;
  background-color: greenyellow;
  margin-top: 20px;
}

.orderButton:hover {
  color: greenyellow;
  background-color: black;
  border: 2px greenyellow solid;
}

h2 {
  margin-bottom: 0px;
  color: greenyellow;
}

p {
  margin-top: 1px;
  font-size: 0.75rem;
}

.homeButton {
  padding: 5px;
  font-family: "Lobster", cursive;
  background-color: greenyellow;
}

.homeButton:hover {
  color: greenyellow;
  background-color: black;
  border: 2px greenyellow solid;
}

.confirmation {
  font-family: "Lobster", cursive;
  color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.returnButtons {
  display: flex;
  flex-direction: row;
}

.returnButtons button {
  margin-right: 5px;
  padding: 5px;
  font-family: "Lobster", cursive;
  background-color: greenyellow;
}

.returnButtons button:hover {
  color: greenyellow;
  background-color: black;
  border: 2px greenyellow solid;
}

input {
  margin-left: 10px;
}

.toppings {
  border: 1px solid greenyellow;
  padding: 5px;
}

.toppings li {
  font-size: 0.75rem;
}
