.home {
  max-height: 50%;
  max-width: auto;
}

.heroContainer {
  border: 2px solid black;
  height: 400px;
  max-width: 100%;
  color: greenyellow;
  display: flex;
  flex-direction: column;
}

.heroContainer h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 5em;
}

h1 {
  color: greenyellow;
  font-family: "Lobster", cursive;
}

.heroContainer p {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 1.5em;
}

.pizzaOrder {
  padding: 5px;
  margin: 0 auto;
  font-family: "Lobster", cursive;
  background-color: greenyellow;
  border-radius: 25px;
}

.pizzaOrder:hover {
  color: greenyellow;
  background-color: black;
}
